!!! 5
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init(JSON.parse("#{j I18n.t("admin.js").to_json}"))
  %body.rails_admin
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand.pjax{href: dashboard_path}
            = _get_plugin_name[0] || 'Rails'
            %small= _get_plugin_name[1] || 'Admin'
        .collapse.navbar-collapse
          = render partial: 'layouts/rails_admin/secondary_navigation'
    .container-fluid
      .row
        .col-sm-3.col-md-2
          .sidebar-nav
            %ul.nav.nav-pills.nav-stacked= main_navigation
            -# %ul.nav.nav-list= static_navigation
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
          .row
            .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
